@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "MPLUS1p";

  font-display: swap;
  src: url("../fonts/MPLUS1p-Medium.woff2") format("woff2"), url("../fonts/MPLUS1p-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "MPLUS1p";

  font-display: swap;
  src: url("../fonts/MPLUS1p-Regular.woff2") format("woff2"), url("../fonts/MPLUS1p-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Raleway";

  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
}
